<h1>Welcome to this application</h1>
<p>Here's what we'll do when we lauch:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quidem repudiandae, voluptate nulla deleniti esse placeat consequuntur! Quae nisi sed odio cum modi, omnis iusto commodi ipsa. Voluptate, velit praesentium.</p>

<h3>Subscribe to be notified when we launch.</h3>
<form action="/subscribe" method="POST">
	<input type="text" name="name">
	<input type="email" name="email">
	<input type="submit" name="submit" value="Subscribe">
</form>