<p><%= @message %><p>

<form action="/new" method="POST">
	<input type="text" name="name" placeholder="Add your name">
	<input type="email" name="email" placeholder="Add your e-mail">
	<input type="submit">
</form>