<h2>Register here</h2>

<form action="/create" method="POST">
	<input type="text" name="name" placeholder="Add your name">
	<input type="email" name="email" placeholder="Add your e-mail">
	<input type="submit">
</form>

<%= link_to "Back to List", root_path %>